*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid yellow;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* background-color: #6b0f1a; */
  background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}

.character-selector {
  flex: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: grey; */
}

.variables-container {
  /* background-color: white; */
  /* height: 90%; */
  width: 100%;
  display: flex;
}

.stat-priority {
  flex: 1;
  width: 100%;
  /* height: 50%; */
  /* background-color: lightgreen; */
}

.select-wrapper {
  width: 100%;
  /* height: 100%; */
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
}

.select-wrapper ul {
  list-style: none;
  transition: all 0.2s ease-in-out;
}

.draggable-element {
  padding: 8px;
  text-align: center;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: move;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
}

.draggable-element:hover {
  opacity: 0.7;
  /* border-color: transparent; */
}

[data-value="strength"] {
  /* background-color: red; */
  /* background-color: #6b0f1a; */
  background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
}
[data-value="dexterity"] {
  /* background-color: green; */
  /* background-color: #7ee8fa; */
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}
[data-value="constitution"] {
  /* background-color: orange; */
  /* background-color #ff4e00; */
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}
[data-value="intelligence"] {
  /* background-color: blue; */
  /* background-color: #2a2a72; */
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
[data-value="wisdom"] {
  /* background-color: gold; */
  /* background-color #ebbe9b; */
  background-image: linear-gradient(315deg, #ebbe9b 0%, #e7a977 74%);
}
[data-value="charisma"] {
  /* background-color: purple; */
  /* background-color: #f8ceec; */
  background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);
}

.being-dragged {
  transform: scale(1.1);
  opacity: 0.5;
}

.dice-roll {
  /* background-color: lightblue; */
  width: 100%;
  height: 10%;
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice-roll button {
  display: block;
  font-size: 2.5rem;
  width: 200px;
  height: 50px;
  /* background-color: #fff; */
  box-shadow: 2px 2px 2px #111;
  border: 0px solid transparent;
  text-shadow: 0px solid transparent;
}

.class-wrapper {
  flex: 1;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.name-input,
.class-selector,
.race-selector,
.background-selector,
.level-selector {
  flex: 1;
  /* color: white; */
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

/* .name-input {
  background-color: teal;
} */

.name-input input {
  width: 100%;
  max-width: 100px;
  height: 40%;
  text-align: center;
}

/* .class-selector {
  background-color: lightblue;
} */

.name-input input,
.class-selector select,
.race-selector select,
.background-selector select,
.level-selector input {
  margin: 5px;
}

.background-selector {
  /* background-color: lightgoldenrodyellow; */
  font-size: 0.8rem;
}

.level-selector {
  /* background-color: lightseagreen; */
  display: block;
}

.skills-spells-wrapper {
  height: 100%;
  width: 100%;
  /* background-color: whitesmoke; */
}

.skills-wrapper {
  width: 100%;
  height: 100%;
  /* background-color: thistle; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4rem;
  border: 0;
  padding: 8px;
  /* text-align: center; */
}

.skills-wrapper ul {
  width: 50%;
  min-width: 330px;
  /* height: 90%; */
  /* padding: 0; */
  /* margin: auto; */
  /* background-color: white; */
}

.skills-wrapper li {
  display: inline-block;
  width: 49%;
}

.skills-wrapper li input {
  column-count: 4;
  margin: 0 5px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.remaining-prof {
  /* margin: auto; */
  padding: 0 8px;
  display: inline-block;
  width: 50%;
}

.dice-roll button:focus {
  background-color: green;
}

.character-sheet {
  flex: 3;
  /* background-color: grey; */
}

.character-sheet-container {
  height: 100%;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sheet__character-header sheet__character-header sheet__character-header"
    "sheet__character-stats-total sheet__character-ac-in-sp sheet__character-spell-list"
    "sheet__character-stats-total sheet__character-hp sheet__character-spell-list"
    "sheet__character-stats-total sheet__character-weapons-items sheet__character-spell-list";
}

.sheet__character-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sheet__character-name sheet__character-definitions sheet__character-definitions"
    "sheet__character-name sheet__character-definitions sheet__character-definitions";
  grid-area: sheet__character-header;
}

.sheet__character-name {
  grid-area: sheet__character-name;
  justify-self: center;
  align-self: center;
  text-align: center;
  color: #fff;
}

.sheet__character-definitions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sheet__character-level sheet__character-class sheet__character-race"
    "sheet__character-background sheet__character-alignment sheet__character-faction"
    "sheet__character-exp sheet__character-exp sheet__player-name";
  grid-area: sheet__character-definitions;
}

.sheet__character-definitions > div {
  display: flex;
}
.sheet__character-definitions > div > h1 {
  width: 100%;
  justify-items: center;
  align-self: center;
  text-align: center;
  font-size: 10px;
}

.sheet__character-level {
  grid-area: sheet__character-level;
  /* display: flex; */
}

/* .sheet__character-level h1 {
  width: 100%;
  justify-items: center;
  align-self: center;
  text-align: center;
} */

.sheet__character-class {
  grid-area: sheet__character-class;
  /* display: flex; */
}

/* .sheet__character-class h1 {
  width: 100%;
  justify-items: center;
  align-self: center;
  text-align: center;
} */

.sheet__character-race {
  grid-area: sheet__character-race;
}

.sheet__character-background {
  grid-area: sheet__character-background;
}

.sheet__character-alignment {
  grid-area: sheet__character-alignment;
}

.sheet__character-faction {
  grid-area: sheet__character-faction;
}

.sheet__character-exp {
  grid-area: sheet__character-exp;
}

.sheet__player-name {
  grid-area: sheet__player-name;
}

.sheet__character-stats-total {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sheet__character-stats sheet__character-prof-pasper"
    "sheet__character-stats sheet__character-savethrow"
    "sheet__character-stats sheet__character-skills"
    "sheet__character-stats sheet__character-skills";
  grid-area: sheet__character-stats-total;
}

.sheet__character-prof-pasper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sheet__character-prof"
    "sheet__character-pasper";
  grid-area: sheet__character-prof-pasper;
}

.sheet__character-prof {
  grid-area: sheet__character-prof;
}

.sheet__character-pasper {
  grid-area: sheet__character-pasper;
}

.sheet__character-savethrow {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sheet__character-savestr"
    "sheet__character-savedex"
    "sheet__character-savecon"
    "sheet__character-saveint"
    "sheet__character-savewis"
    "sheet__character-savecha";
  grid-area: sheet__character-savethrow;
}

.sheet__character-savestr {
  grid-area: sheet__character-savestr;
}

.sheet__character-savedex {
  grid-area: sheet__character-savedex;
}

.sheet__character-savecon {
  grid-area: sheet__character-savecon;
}

.sheet__character-saveint {
  grid-area: sheet__character-saveint;
}

.sheet__character-savewis {
  grid-area: sheet__character-savewis;
}

.sheet__character-savecha {
  grid-area: sheet__character-savecha;
}

.sheet__character-skills {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sheet__character-acrobatics"
    "sheet__character-anhandle"
    "sheet__character-arcana"
    "sheet__character-athletics"
    "sheet__character-deception"
    "sheet__character-history"
    "sheet__character-insight"
    "sheet__character-intimidation"
    "sheet__character-investigation"
    "sheet__character-medicine"
    "sheet__character-nature"
    "sheet__character-perception"
    "sheet__character-performance"
    "sheet__character-persuasion"
    "sheet__character-religion"
    "sheet__character-soh"
    "sheet__character-stealth"
    "sheet__character-survival";
  grid-area: sheet__character-skills;
}

.sheet__character-acrobatics {
  grid-area: sheet__character-acrobatics;
}

.sheet__character-anhandle {
  grid-area: sheet__character-anhandle;
}

.sheet__character-arcana {
  grid-area: sheet__character-arcana;
}

.sheet__character-athletics {
  grid-area: sheet__character-athletics;
}

.sheet__character-deception {
  grid-area: sheet__character-deception;
}

.sheet__character-history {
  grid-area: sheet__character-history;
}

.sheet__character-insight {
  grid-area: sheet__character-insight;
}

.sheet__character-intimidation {
  grid-area: sheet__character-intimidation;
}

.sheet__character-investigation {
  grid-area: sheet__character-investigation;
}

.sheet__character-medicine {
  grid-area: sheet__character-medicine;
}

.sheet__character-nature {
  grid-area: sheet__character-nature;
}

.sheet__character-perception {
  grid-area: sheet__character-perception;
}

.sheet__character-performance {
  grid-area: sheet__character-performance;
}

.sheet__character-persuasion {
  grid-area: sheet__character-persuasion;
}

.sheet__character-religion {
  grid-area: sheet__character-religion;
}

.sheet__character-soh {
  grid-area: sheet__character-soh;
}

.sheet__character-stealth {
  grid-area: sheet__character-stealth;
}

.sheet__character-survival {
  grid-area: sheet__character-survival;
}

.sheet__character-stats {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sheet__character-str"
    "sheet__character-dex"
    "sheet__character-con"
    "sheet__character-int"
    "sheet__character-wis"
    "sheet__character-cha";
  grid-area: sheet__character-stats;
}

.sheet__character-str {
  grid-area: sheet__character-str;
}

.sheet__character-dex {
  grid-area: sheet__character-dex;
}

.sheet__character-con {
  grid-area: sheet__character-con;
}

.sheet__character-int {
  grid-area: sheet__character-int;
}

.sheet__character-wis {
  grid-area: sheet__character-wis;
}

.sheet__character-cha {
  grid-area: sheet__character-cha;
}

.sheet__character-ac-in-sp {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "sheet__character-ac sheet__character-init sheet__character-speed";
  grid-area: sheet__character-ac-in-sp;
}

.sheet__character-ac {
  grid-area: sheet__character-ac;
}

.sheet__character-init {
  grid-area: sheet__character-init;
}

.sheet__character-speed {
  grid-area: sheet__character-speed;
}

.sheet__character-hp {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sheet__character-maxhp"
    "sheet__character-curhp"
    "sheet__character-hitdice-container";
  grid-area: sheet__character-hp;
}

.sheet__character-maxhp {
  grid-area: sheet__character-maxhp;
}

.sheet__character-curhp {
  grid-area: sheet__character-curhp;
}

.sheet__character-hitdice-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "sheet__character-hitdice sheet__character-hitdice-max";
  grid-area: sheet__character-hitdice-container;
}

.sheet__character-hitdice {
  grid-area: sheet__character-hitdice;
}

.sheet__character-hitdice-max {
  grid-area: sheet__character-hitdice-max;
}

.sheet__character-weapons-items {
  grid-area: sheet__character-weapons-items;
}

.sheet__character-spell-list {
  grid-area: sheet__character-spell-list;
}
